* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
    background-color: #efefef;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 80px;
}

.container {
    margin: auto;
    padding: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00b2ca;
}

.navbar-nav {
    display: inline-flex;
}

.nav-item {
    flex-grow: 1;
    font-size: 16px;
    list-style-type: none;
    padding: 5px 20px 5px 5px;
}

.nav-link {
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

.nav-link:hover {
    opacity: 1;
}

.post {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

.comment {
    /* background-color: white; */
    /* border-radius: 5px; */
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    width: 95%;
}

h1, h3, h5 {
    padding: 10px;
}

p {
    padding: 10px;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.disabled {
    color: grey;
}

.thread {
    background-color: #efefef;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    width: 95%;
}

.dropdown:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container {
        width: 75%;
        margin: auto;
    }
    .nav-item {
        font-size: 18px;
    }
}