* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: green;
}

.navbar-nav {
    display: inline-flex;
}

.nav-item {
    flex-grow: 1;
    font-size: 24px;
    list-style-type: none;
    padding: 5px 10px 10px 5px;
}

.nav-link {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.nav-link:hover {
    opacity: 1;
}